.body {
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  min-height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.2fr;
  grid-template-areas:
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar content1 content2 content3";
  grid-gap: 0rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

.main {
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.sidebar {
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.content1 {
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background: url("../../images/girl.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.content2 {
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background: url("../../images/mom.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.content3 {
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background: url("../../images/ugg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}
.sidebar > ul {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 2.1;
  list-style-type: none;
}   
.sidebar > h1{
    margin-top: 15px;
    margin-left: 0px;
    text-decoration: underline;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.blockquote {
  font-size: 1.2em;
  width: 100%;
  /* margin:50px auto; */
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 6em 30px 14em 75px;
  
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}


.blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

.blockquote::after {
  content: "";
}

.blockquote h1 {
  display: grid;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  padding-left: 100px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: -20px;
}

@media only screen and (max-width: 1250px) {
    .sidebar > ul {
        margin-top: 1rem;
        font-size: 20px;
        line-height: 2.3;
      }
}
@media only screen and (max-width: 1072px) {
    .sidebar > ul {
        margin-top: 1rem;
        font-size: 18px;
        line-height: 2.7;
      }
}
@media only screen and (max-width: 805px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas:
      "sidebar main main "
      "sidebar content1 content2";
  }
  .sidebar > ul {
    margin-top: 1rem;
    font-size: 24px;
    line-height: 2.8;
  }
  .blockquote >h1{
      margin-top: 20px;
      margin-bottom: -50px;
  }
  .blockquote{
      padding-left: -100rem;
     
  }
}
@media only screen and (max-width: 702px) {
    .sidebar > ul {
        margin-top: 1rem;
        font-size: 19px;
        line-height: 2.95;
      }
      .blockquote{
        padding-left: 30px;
       
    }
}
@media only screen and (max-width: 555px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.5fr 0.5fr 0.6fr 0.5fr;
    grid-template-areas:
      "main"
      "sidebar"
      "content1"
      "content2";
  }
  .blockquote{
    padding-left: 30px;
   
}
.blockquote > h1{
    padding-left: 0px;
}
}
