.bcontainer {
  display: grid;
  min-height: 89vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.8fr 0.2fr;
  grid-template-areas:
    "bnav bnav"
    "bcontent1 bcontent2"
    "bfooter bfooter";
  grid-gap: 0rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

.bnav {
  grid-area: bnav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.bcontent1 {
  grid-area: bcontent1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.bcontent2 {
  grid-area: bcontent2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.bfooter {
  grid-area: bfooter;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  
}
.bnav > h1 {
  font-size: 50px;
  margin-top: 15px;
  text-decoration: underline;
}
.bcontent1 > table {
  font-size: 30px;
  /* margin-left: 2rem; */
  line-height: 1.5;
  margin-top: 30px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
ul {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
}
.bcontent1 > h1{
    text-decoration: underline;
}
.bcontent2 > h1{
    text-decoration: underline;
}
.bcontent2 > ul {
  font-size: 25px;
  margin-top: 2rem;
  line-height: 2;
}
.bfooter > h1 {
  font-size: 50px;
  margin-top: 2rem;
  margin-bottom: 50px;
  text-decoration: underline;
}
@media only screen and (max-width: 696px) {
  .bcontent1 > table {
    font-size: 25px;
    margin-top: 2.5rem;
  }
  .bcontent2 > ul {
  }
}
@media only screen and (max-width: 581px) {
  .bcontent1 > table {
    font-size: 20px;
    margin-top: 2rem;
    line-height: 2;
  }
  .bcontent2 > ul {
    margin-top: 2rem;
  }
  .bfooter {
  }
}
@media only screen and (max-width: 550px) {
  .bcontainer {
    /* grid-template-columns: 1fr; */
    height: 139vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.1fr 0.35fr 0.35fr 0.1fr;
    grid-template-areas:
      "bnav"
      "bcontent1"
      "bcontent2"
      "bfooter";
    min-height: 170vh;
  }
  .bcontent1 > h1 {
    margin-top: 2rem;
  }
  .bcontent1 > table {
    font-size: 20px;
    margin-top: 1rem;
    line-height: 2;
  }
  .bcontent2 > h1 {
    margin-top: 4rem;
  }
  .bcontent2 > ul {
    margin-top: 1rem;
    margin-left: -20px;
  }

  .bfooter {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 381px) {
  .bfooter {
    margin-top: -10px;
  }
}
